<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>EdutorCahceServer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Cache REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.edutor.cacheserver</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<context-param>
		<param-name>log4j-properties-location</param-name>
		<param-value>WEB-INF/log4j2.properties</param-value>
	</context-param>
		
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>educacheuser</param-value>
	</context-param>
	<!-- <param-value>Edut0r321</param-value> -->		
	
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>Edut0r321</param-value>
	</context-param>
	<context-param>
		<param-name>mysqlURL</param-name>
		<param-value>jdbc:mysql://localhost:3306</param-value>
	</context-param>
	<context-param>
		<param-name>dbURL</param-name>
		<param-value>jdbc:mysql://localhost:3306/edutorcacheserver</param-value>
	</context-param>

	<context-param>
		<param-name>edutor_user_id</param-name>
		<param-value>TEST_USER_ID</param-value>
	</context-param>

	<context-param>
		<param-name>edutor_cdn_user_id</param-name>
		<param-value>CDN-371035</param-value>
	</context-param>

	<context-param>
		<param-name>edutor_cdn_password</param-name>
		<param-value>b4399d</param-value>
	</context-param>

	<context-param>
		<param-name>asset_path</param-name>
		<param-value>/cachefiles</param-value>
	</context-param>
 	
	<context-param>
		<param-name>edutor_cdn_id</param-name>
		<param-value>CDNc4cc2388ea</param-value>
	</context-param>

	<servlet-mapping>
		<servlet-name>Cache REST Service</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>MainFilter</filter-name>
		<filter-class>com.edutor.cacheserver.Router</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MainFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>